ai4bharat-transliteration
aksharamukha
arabic_buckwalter_transliteration
editdistance
extra-streamlit-components
google-generativeai
gtts
mtranslate
opencc
pandas
pinyin
plotly
pykakasi
scikit-learn
stanza
streamlit
transliterate
TTS
